<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="WebHttpBinding_IWeatherForecastService">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IWeatherForecastService"
                contract="ServiceReference1.IWeatherForecastService" name="WebHttpBinding_IWeatherForecastService" />
        </client>
    </system.serviceModel>
</configuration>